@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

:root {
    --primary-color: #064635;
    --secondary-color: #519259;
    --third-color: #f0bb62;
    --fourth-color: #f4eea9;
    --grey-color: #787a91;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: poppins;
}

.garis {
    height: 5px;
    width: 15%;
    border-radius: 50px;
    background: var(--third-color);
}

.btn-primary-kkn {
    padding: 12px 48px;
    color: white;
    border-radius: 0;
    background-color: var(--primary-color);
    transition: all ease 0.5s;
}

.btn-primary-kkn:hover {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-secondary-kkn {
    padding: 12px 48px;
    color: white;
    border-radius: 0;
    background-color: var(--secondary-color);
}

.btn-secondary-kkn:hover {
    color: white;
}

.jmb-desa {
    padding: 48px 12px;
}

.jmb-desa .title h1 {
    font-weight: 700;
    font-size: 48px;
    color: var(--primary-color);
}

.jmb-desa .sub-title {
    margin: 12px 56px;
}

.jmb-desa .sub-title .alert {
    font-weight: 500;
    border-radius: 50px;
    font-size: 14px;
}

.jmb-desa .desc p {
    font-size: 16px;
    color: var(--grey-color);
}

.rule {
    padding: 48px 0;
}

.rule .title h3 {
    font-weight: 600;
    color: var(--primary-color);
}

.rule .accordion .accordion-body {
    color: var(--grey-color);
}

.rule .accordion-button {
    color: var(--secondary-color);
}

.rule .accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--secondary-color);
}

.urusan {
    padding: 48px 0;
}

.urusan .title h3 {
    font-weight: 600;
    color: var(--primary-color);
}

.urusan .card {
    border-radius: 20px;
    border: none;
    background: white;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    padding: 40px;
}

.urusan img {
    width: 60px;
    height: 100%;
}

.urusan .card-title {
    margin-top: 24px;
    font-weight: 600;
    font-size: 24px;
    color: var(--primary-color);
}

.urusan .card-text {
    margin-top: 24px;
    color: var(--grey-color);
}

.kriksar {
    padding: 48px 0;
}

.kriksar .card {
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.kriksar .card .card-title {
    color: var(--third-color);
}

.kriksar .card .card-text {
    color: white;
    font-size: 14px;
}

.kegiatan {
    padding: 48px 0;
}

.kegiatan .title h3 {
    font-weight: 600;
    color: var(--primary-color);
}

.footer hr {
    color: var(--grey-color);
}

.footer .footer-desc p {
    color: var(--primary-color);
    font-weight: 600;
}
